$base-color: #f6f9ff;
$base-color-2: #ffffff;
$button-color: #14c6bb;
$button-color-hover: #34afa7;
$button-color-false: #f55905;
$button-color-hover-false: #f58505;
$button-share: rgb(29, 161, 242);

$base-color-text: #25395f;
$base-color-text-2: #9aadce;

$collapsible-background: #f7f7f7;
$difficulty-easy: #6cf305;
$difficulty-hard: #f52905;
