$base-color: #dde0e4;
$base-color-2: #ffffff;
$button-color: #34afa7;
$button-color-hover: #14c6bb;
$button-color-false: #e66007;
$button-color-hover-false: #f55905;
$button-share: #1da1f2;

$base-color-text: #64ffdb;
$base-color-text-2: #9aadce;

$collapsible-background: #f7f7f7;
$difficulty-easy: #52c41a;
$difficulty-hard: #f52905;
