.app-wrapper {
  position: relative;
  max-width: 600px;
  width: 100%;
  min-height: 450px;
}

// .question-wrapper, .results-wrapper {
//   width: 600px;
// }

.question-body {
  min-height: 230px;
}